.user-login {
  height: 100vh;

  .login-banner {
    padding: 2rem 0rem;
  }

  .login-form {

    .user-select {
      margin-bottom: 2.5rem;

      .van-grid-item .van-grid-item__content {
        padding: 0px;
      }
      .van-grid-item.active .van-grid-item__content{
        border: 1px solid #1989fa;
      }
    }

    .van-form {
      padding: 0rem 1rem;
      button {
        margin-top: 40px;
      }
    }
    
  }
}